body{
    background:url("images/pattern-background-desktop.svg");
    text-align: center;
    background-color: hsl(225, 100%, 94%);
    
}

.card{
    background-color:white;
    width:30%;
    margin: 50px auto;
    border-radius:10px;
}

.top-image{   
    width:100%;
    margin:0;
    border-radius: 8px 8px 0 0;
    
}

.top-container{
    font-size:1rem;
    width:70%;
    margin:auto;
    font-family: 'Red Hat Display', sans-serif;
}



.middle-container{
    display:inline-flex;
    width:75%;
    background-color:hsl(225, 100%, 98%);
    border-radius:10px;
    margin:10px 0;
    font-family:'Red Hat Display', sans-serif;
    
    

    
}

.music-image{
    width:50px;
    height:50px;
    padding:10px 20px;
}
.plan{
      padding:1px;
      font-weight: bold;
}
a{
    text-decoration:none;
    margin:auto;
    color:#161D6F;
}
a:hover{
    text-decoration: underline;
}

.bottom-container{
    margin:auto;
    padding:50px;
    font-family: 'Red Hat Display', sans-serif;
}

.button {
    background-color: hsl(245, 75%, 52%);
    border-style:none;
    border-radius: 5px;
    color: white;
    padding: 10px 50px;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    cursor: pointer;

  }

  .button-1 {
    background-color:hsl(225, 100%, 98%);
    border-style:none;
    border-radius:5px;
    color: black;
    padding: 10px 70px;
    text-align: center;
    font-size: 0.9rem;
    margin: 20px 10px;
    cursor: pointer;
  }
  .button:hover{
      background-color: chartreuse;
  }

  .button-1:hover{
      background-color: crimson;
  }


